.project
	display: flex;
	text-align: left;
	&__wrapper
		flex-basis: 50%;
		background-color: #f6f6f6
		padding: 79px 114px 99px 97px;
	&__img
		flex-basis: 50%;
		background-color: #e6e6e6;
	&__row
		display: flex;
	&__title
		font: 500 38px/84px $f-primary
		letter-spacing: 0.5px;
		margin-left: -2px;
	&__text
		color:#787878;
		font:16px/24px $f-secondary
		margin-top:6px;
		letter-spacing: 0.1px;
	&__text > p:last-child
		margin-top: 24px
	&__client-row
		margin-top: 44px;
	&__inner-title
		font:700 16px/30px $f-secondary
		margin-left: 1px;
	&__description
		margin-left: 10px;
		font: 16px/30px $f-secondary
		color:#787878;
