.project
	.project__wrapper
		.project__title Light Breakfast
		.project__text
			p.
				Light his can't a creeping. Be, bring blessed night. Replenish
				blessed creature good. Saw earth every creepeth lights day,
				divided abundantly form. In. Said given lights. Sixth the male.
				Upon their multiply. Kind beast. Him tree upon.
			p.
				Cattle. Dominion day herb she'd creeping divide darkness.
				Which. Subdue had.
		.project__client-row
			.project__row
				.project__inner-title Client:
				.project__description Emma Morris
			.project__row
				.project__inner-title Date:
				.project__description &nbsp;25.06.2017
			.project__row
				.project__inner-title Share:
				.project__description Facebook, Twitter, Pinterest
	.project__img
		img

