.top-menu-home
	.top-menu-home__logo
		img(alt="" src="assets/images/logo.png")
	ul.top-menu-home__menu
		li.top-menu-home__li
			a(href="home.html").top-menu__link home
		li.top-menu-home__li
			a(href="about.html").top-menu__link about
		li.top-menu-home__li
			a(href="contact.html").top-menu__link contact