.top-menu-home
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	margin-bottom: 37px;
	&__logo
		margin-top: 38px;
		margin-left: 98px;
	&__menu
		margin-right: 97px;
		margin-top: 1px;
	&__li
		display: inline-block
		margin-top: 37px;
		margin-left: 26px;
	&__link
		font:500 12px/24px $f-primary;
		color:#000;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		&:hover
			color: $c-primary;



