.header-about
	background-color: #3e3e3e
	color:#fff;
	text-align: center;
	&__title
		font:500 38px/48px $f-primary
		padding-top:111px;
		padding-left: 2px;
	&__description
		font:18px/28px $f-secondary;
		padding-top: 21px;
		padding-bottom: 114px
		max-width 520px;
		margin: 0 auto;
		letter-spacing: 0.1px;