.header-about
	h1.header-about__title Amelia Woods
	.header-about__description
		p.
			I am a Graphic & Web Designer based in New York, specializing
			&#8239;in User Interface Design and Development.
