.quote
	min-height:472px;
	padding-top:173px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
	background-color: $c-primary;
	&__text
		font:500 24px/36px $f-primary;
		color:#ffffff;
		max-width: 820px;
		margin: 0 auto;
		letter-spacing: 0.2px;
	&__author
		font: 500 12px/36px $f-primary;
		color: #ffffff;
		text-transform: uppercase;
		margin-top: 17px
		margin-left: 1px;
		letter-spacing: 1.1px;
	&__slider
		margin-top: 95px;