.quote
	.quote__text “ Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
	.quote__author Michael Hopkins
	.quote__slider
		img(alt="" src="assets/images/slider.png")
