.map
	background-color: #f5f5f5;
	padding-bottom: 100px;
	&__img
		background-color: #e0e0e0
		min-width:1171px;
		min-height: 471px;
		margin:0 100px;
	&__icon
		position: relative;
		top:185px;
		left:632px;
