.more
	background-color: #f5f5f5;
	min-height 100px;
	display: flex
	justify-content: center
	align-items: center;
	&__text
		font:500 12px/24px $f-primary
		color:#8e8e8e;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		&:hover
			color:alpha(#8e8e8e, 0.5);