.header-home
	margin: 0 auto;
	text-align: center;
	background-color: #f6f6f6
	&__title
		font: 500 38px/84px $f-primary
		padding-top: 77px;
		letter-spacing: 0.7px
		padding-left: 3px
	&__description
		font:18px/28px $f-secondary
		padding-bottom: 92px
		max-width: 515px;
		margin: 0 auto;
		margin-top: 4px;
		letter-spacing: 0.1px;
