.header-home
	h1.header-home__title UI/UX & Graphic Designer
	.header-home__description
		p.
			I am a Graphic & Web Designer based in New York, specializing
			&nbsp;in User Interface Design and Development.
