.video
	background-color: #e9e9e9;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1170px;
	height: 574px;
	margin: 0 auto;
	&__button
		&:hover
			border-radius: 50%;
			background-color: alpha($c-primary, 0.8)