.global
	max-width 1366px
	margin: 0 auto;
.top-color-block
	background-color: #e9e9e9;
.global-row
	margin-left: 100px;
	margin-right: 70px;
	margin-bottom: 20px;
	min-width: 460px;
.button
	font:500 12px/55px $f-primary;
	color: #ffffff;
	background-color: $c-primary;
	width: 181px
	height: 55px;
	text-align: center
	text-transform: uppercase
	&:hover
		background-color: alpha($c-primary,0.8)
		transform: scale(0.99)