.top-menu
	display: flex;
	justify-content: space-between;
	&__logo
		margin-top: 46px;
		margin-left: -3px;
	&__menu
		margin-right: 29px;
		margin-top: 1px;
	&__li
		display: inline-block
		margin-top: 45px;
		margin-left: 26px;
	&__link
		font:500 12px/24px $f-primary;
		color:#000;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		&:hover
			color: $c-primary;



