.top-menu
	.top-menu__logo
		img(alt="" src="assets/images/logo.png")
	ul.top-menu__menu
		li.top-menu__li
			a(href="home.html").top-menu__link home
		li.top-menu__li
			a(href="about.html").top-menu__link about
		li.top-menu__li
			a(href="javascript://").top-menu__link work
		li.top-menu__li
			a(href="process.html").top-menu__link process
		li.top-menu__li
			a(href="javascript://").top-menu__link services
		li.top-menu__li
			a(href="javascript://").top-menu__link testimonials
		li.top-menu__li
			a(href="contact.html").top-menu__link contact