//- Выбираем шаблон
extends  ../blocks/layouts/default


block head
	- var pageTitle = 'Piroll - О нас'



block content
	.global
		include ../blocks/top-menu/home/top-menu
		include ../blocks/header/about/header
		.content
			include ../blocks/total/total
			include ../blocks/about/about/about
			include ../blocks/callback/about/callback
		.footer-wrapper
			include ../blocks/footer/footer
