//- Выбираем шаблон
extends  ../blocks/layouts/default


block head
	- var pageTitle = 'Piroll - Домашняя'



block content
	.global
		include ../blocks/top-menu/home/top-menu
		.content
			include ../blocks/callback/contact/callback
			include ../blocks/map/map
		.footer-wrapper
			include ../blocks/footer/footer


