//- Выбираем шаблон
extends  ../blocks/layouts/default


block head
	- var pageTitle = 'Piroll - Домашняя'



block content
	.global
		include ../blocks/top-menu/home/top-menu
		include ../blocks/header/home/header
		.content
			include ../blocks/gallery/gallery
			include ../blocks/gallery/advansed/adv-gallery
		.footer-wrapper
			include ../blocks/footer/footer

