//- Выбираем шаблон
extends  ../blocks/layouts/default


block head
	- var pageTitle = 'Piroll - Главная'



block content
	.global
		.top-color-block
			.global-row
				include ../blocks/top-menu/index/top-menu
				include ../blocks/header/index/header
		.content
			include ../blocks/about/index/about
			include ../blocks/skills/skills
			include ../blocks/total/total
			include ../blocks/gallery/gallery
			include ../blocks/more/more
			include ../blocks/work-process/work-process
			include ../blocks/vector/vector
			include ../blocks/quote/quote
			include ../blocks/partners/partners
			include ../blocks/callback/index/callback
		.footer-wrapper
			include ../blocks/footer/footer

	//- include ../blocks/block/block


