//- Выбираем шаблон
extends  ../blocks/layouts/default


block head
	- var pageTitle = 'Piroll - Проект'



block content
	.global
		include ../blocks/top-menu/home/top-menu
		.content
			include ../blocks/project/project
			include ../blocks/scroll/scroll
		.footer-wrapper
			include ../blocks/footer/footer


