.adv-gallery
	&__wrapper
		display: flex;
		width: 100%;
	&__block
		flex-basis: 25%;
		min-height: 300px;
		&:nth-child(even)
			background-color: #dddddd
		&:nth-child(odd)
			background-color: #838383;
		&:hover
			background-color: alpha(#000000,0.85)!important;
			display: flex;
			align-items: center;
			justify-content: center;
			&:after
				content:url('../../assets/images/icons/eye.png')