.about
	text-align: center;
	min-height: 318px;
	margin: 0 auto;
	margin-bottom: 20px;
	//margin-left: 35px
	&__title
		font:30px/60px $f-primary
		color: #000000;
		margin-top: 80px;
		margin-bottom: 15px;
	&__text
		font:16px/24px $f-secondary;
		color: #787878;
		margin-bottom: 35px
		letter-spacing: .1px;
		margin-top: 12px
		margin-left: 2px;
