.about
	h1.about__title About Us
	.about__text
		p Divide have don't man wherein air fourth. Own itself make have night won't make. &nbsp;
		p A you under Seed appear which good give. Own give air without fowl moveth dry first &nbsp;
		p heaven fruit, dominion she'd won't very all.
	.about__img
		img(alt="" src="assets/images/signature.png")