.callback-contact
	.callback-contact__info-row
		h1.callback-contact__info-title Contact Info:
		p.callback-contact__info-text.
			To give give beginning divide, cattle. Give moving
			won't, there the abundantly she'd she'd brought air
			upon. Light hath subdue. Life days creature upon
			first heaven gathering dry.
		.callback-contact__adress-block
			.callback-contact__inner-row
				.callback-contact__info-subtitle Address:
				.callback-contact__info-value 10111 Santa Monica Boulevard, LA
			.callback-contact__inner-row
				.callback-contact__info-subtitle Phone:
				.callback-contact__info-value +44 987 065 908
			.callback-contact__inner-row
				.callback-contact__info-subtitle Email:
				.callback-contact__info-value info@Example.com
			.callback-contact__inner-row
				.callback-contact__info-subtitle Fax:
				.callback-contact__info-value +44 987 065 909
	.callback-contact__wrapper
		form.callback-contact__form
			.callback-contact__input.callback-contact__input--name
				input(type="text" placeholder="Your Name")
			.callback-contact__input.callback-contact__input--email
				input(type="text" placeholder="Your Email")
			.callback-contact__input.callback-contact__input--title
				input(type="text" placeholder="Your Title")
			.callback-contact__input.callback-contact__input--comment
				textarea(placeholder="Your Comment")
			.callback-contact__button Send Message
