.callback-contact
	display: flex;
	background-color: #f5f5f5;
	&__info-row
		flex-basis: 43.5%;
		padding-left:96px;
		padding-right: 115px;
	&__info-title
		font:500 30px/84px $f-primary;
		margin-top: 73px;
		letter-spacing 0.5px;
	&__info-text
		font:16px/24px $f-secondary
		color:#787878;
		letter-spacing 0.1px;
		margin-top: 5px;
	&__adress-block
		margin-top: 20px;
	&__inner-row
		display: flex;
	&__info-subtitle
		font: 700 16px/36px $f-secondary;
	&__info-value
		font:16px/36px $f-secondary;
		color:#787878;
		margin-left: 10px;
	&__wrapper
		background-color: #f5f5f5;
		text-align: center;
		padding-bottom:99px;
		padding-top: 70px;
		margin-left: -2px;
		flex-basis: 50%
	&__title
		font:500 30px/84px $f-primary
		color:#000000;
		letter-spacing: 0.3px;
	&__text
		font:16px/24px $f-secondary;
		color: #787878;
		max-width: 553px;
		margin: 0 auto;
		padding-top: 2px;
		letter-spacing: 0.1px;
	&__form
		max-width 670px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	&__input
		font:15/24 $f-secondary;
		color: #787878;
		display: inline-block;
		margin-top: 30px;
	&__input--name
		flex-basis: 47.5%;
	&__input--email
		flex-basis: 47.5%;
		margin-left: 32px;
	&__input--title
		flex-basis: 100%;
	&__input--comment
		flex-basis: 100%;
	&__input > input
		padding: 12px 0 13px 20px;
		width: 100%
		font:15px/24px $f-secondary
	&__input > textarea
		width: 100%;
		padding-left: 20px;
		padding-top: 12px;
		min-height 170px;
		resize: none;
		font:15px/24px $f-secondary;
	&__button
		background-color: $c-primary;
		width: 180px;
		color: #ffffff;
		font: 500 12px/54px $f-primary;
		text-transform: uppercase;
		text-align: center;
		margin-top: 27px;
		letter-spacing: 1.1px;

		