.about-me
	.about-me__img
		img
	.about-me__row
		h1.about-me__title About me
		.about-me__text
			p.
				Given let waters air sea had you'll, may seed abundantly fish.
				Were, you'll earth forth winged above brought. Own darkness
				they're him can't fourth sea place have.
			p.
				So the above May stars cattle fruitful face shall. Tree it, winged.
				Every signs male firmament us. Morning him.
		.about-me__signature
			img(alt="" src="assets/images/signature.png")
