.about-me
	display: flex;
	text-align: center;
	min-height: 318px;
	margin: 0 auto;
	&__row
		flex-basis: 50%;
		background-color: #f5f5f5;
		text-align:left;
		padding: 0 122px 0 87px
	&__img
		flex-basis: 50%;
		background-color: #e1e1e1;
	&__title
		font:30px/60px $f-primary
		color: #000000;
		padding-top: 120px;
		margin-bottom: 14px;
	&__text
		font:16px/24px $f-secondary;
		color: #787878;
		margin-bottom: 35px
		letter-spacing: .1px;
		margin-top: 12px
	&__text > p:last-child
		margin-top: 24px
	&__signature
		margin-top: 33px
		margin-bottom: 140px