.partners
	.partners__img
		img(alt="" src="assets/images/partners/1.png")
	.partners__img
		img(alt="" src="assets/images/partners/2.png")
	.partners__img
		img(alt="" src="assets/images/partners/3.png")
	.partners__img
		img(alt="" src="assets/images/partners/4.png")
	.partners__img
		img(alt="" src="assets/images/partners/1.png")