.header
	display: flex;
	margin-top: 163px;
	padding-bottom: 201px;
	margin-right: 44px;
	&__inner-row
		flex-basis: 54%;
	&__title
		font:38px/48px $f-primary;
		color:#000000;
		//letter-spacing: 0.2px
	&__description
		font:18px/28px $f-secondary;
		color:#787878;
		margin-top: 23px;
		letter-spacing: 0.1px;
		max-width: 480px;
		margin-left: 5px;
	&__img
		background-color: #e9e9e9;
		flex-basis: 72%;
	&__button
		margin-left: 5px;
		letter-spacing: 1px;
		margin-top: 34px;
