.header
	.header__img
		img
	.header__inner-row
		h1.header__title We Design and Develop
		.header__description We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps.
		.header__button.button contact us