.callback-about
	background-color: #f5f5f5;
	text-align: center;
	padding-bottom:99px;
	padding-top: 73px;
	margin-left: 0;
	&__title
		font:500 30px/84px $f-primary
		color:#000000;
		letter-spacing: 0.3px;
		margin-top: -1px;
	&__text
		font:16px/24px $f-secondary;
		color: #787878;
		max-width: 553px;
		margin: 0 auto;
		padding-top: 3px;
		letter-spacing: 0.1px;
	&__button
		background-color: $c-primary;
		width: 180px;
		color: #ffffff;
		font: 500 12px/54px $f-primary;
		text-transform: uppercase;
		text-align: center;
		margin: 34px auto 0;
		letter-spacing: 1.1px;
		padding-left:1px;
		padding-top:2px;

		