.gallery
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	&__item-wrap
		display: flex;
		width: 100%;
	&__item
		flex-basis: 25%;
		min-height: 300px;
		&:hover
			background-color: alpha(#000000,0.85)!important;
			display: flex;
			align-items: center;
			justify-content: center;
			&:after
				content:url('../../assets/images/icons/eye.png')
	&__item-wrap--first > div
		&:nth-child(even)
			background-color: #dddddd
		&:nth-child(odd)
			background-color: #838383;
	&__item-wrap--second > div
		&:nth-child(even)
			background-color: #838383
		&:nth-child(odd)
			background-color: #dddddd;
	//&__item--selected
	//	background-color: alpha(#000000,0.85)!important;
	//	display: flex;
	//	align-items: center;
	//	justify-content: center;
	//	&:after
	//		content:url('../../assets/images/icons/eye.png')