.gallery
	.gallery__item-wrap.gallery__item-wrap--first
		.gallery__item
			img
		.gallery__item
			img
		.gallery__item
			img
		.gallery__item
			img
	.gallery__item-wrap.gallery__item-wrap--second
		.gallery__item
			img
		.gallery__item.gallery__item--selected
			img
		.gallery__item
			img
		.gallery__item
			img
