.total
	display: flex;
	background-color: $c-primary;
	justify-content: space-between;
	padding: 80px 211px 81px 102px;
	&__inner-row
		display: flex;
		flex-wrap: wrap;
		&:last-child
			position: relative;
			left: 15px;
	&__title
		font:500 18px/30px $f-primary;
		color:#ffffff;
		text-transform: uppercase;
		margin-top: 8px;
		margin-left: 13px;
	&__text-row
		margin-left: 15px;
		margin-top: 5px
	&__text-row--hours
		margin-left: 3px;
	&__text-row--feedbacks
		position: relative;
		left: 19px;
	&__text
		font:500 12px/36px $f-primary;
		color:#ffffff;
		text-transform: uppercase;
		position: relative
		top:-5px;
		letter-spacing: 1.2px
		left:13px;
	&__img
		margin-top: 22px;
		&--clock
			position: relative;
			top:-2px;
			left:-11px;
		&--star
			position: relative;
			top:-2px;
			left:22px;