.total

	.total__inner-row
		.total__img.total__img--case
			img(alt="" src="assets/images/icons/case.png")
		.total__text-row.total__text-row--projects
			.total__title 548
			.total__text.total__text--projects projects completed

	.total__inner-row
		.total__img.total__img--clock
			img(alt="" src="assets/images/icons/clock.png")
		.total__text-row.total__text-row--hours
			.total__title 1465
			.total__text.total__text--hours WORKING HOURS

	.total__inner-row
		.total__img.total__img--star
			img(alt="" src="assets/images/icons/star.png")
		.total__text-row.total__text-row--feedbacks
			.total__title 612
			.total__text.total__text--feedbacks POSITIVE FEEDBACKS

	.total__inner-row
		.total__img.total__img--heart
			img(alt="" src="assets/images/icons/heart.png")
		.total__text-row.total__text-row--clients
			.total__title 735
			.total__text.total__text--clients HAPPY CLIENTS
