.footer
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	background-color: #141414;
	padding:95px 134px 100px 98px;
	&__row--contacts
		position: relative;
		left:52px;
	&__title
		font:500 18px/40px $f-primary;
		margin-bottom: 6px;
		position: relative;
		top: -6px;
	&__rights
		font:15px/24px $f-secondary;
		color:#bcbcbc;
	&__designed
		font:15px/24px $f-secondary;
		color:#bcbcbc;
	&__email
		font:15px/24px $f-secondary;
		color:#bcbcbc;
	&__phone
		font:15px/24px $f-secondary;
		color:#bcbcbc;
	&__wrapper-menu
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	&__menu
		max-height:110px;
		display: flex;
		flex-direction column;
		&--first
			flex-wrap: wrap;
	&__inner-row
		margin-left: 4px
		&:last-child
			margin-left: 56px;
	&__link
		font:15px/24px $f-secondary