.footer
	.footer__row
		h1.footer__title Piroll Design, Inc.
		.footer__rights © 2017 Piroll. All rights reserved.
		.footer__designed Designed by robirurk.
	.footer__row.footer__row--contacts
		.footer__email hello@pirolltheme.com
		.footer__phone +44 987 065 908
	.footer__wrapper-menu.footer__wrapper-menu--first
		.footer__menu.footer__menu--first
			.footer__inner-row
				.footer__item
					.footer__link Projects
				.footer__item
					.footer__link About
				.footer__item
					.footer__link Services
				.footer__item
					.footer__link Carreer
			.footer__inner-row
				.footer__item
					.footer__link News
				.footer__item
					.footer__link Events
				.footer__item
					.footer__link Contact
				.footer__item
					.footer__link Legals
	.footer__wrapper-menu.footer__wrapper-menu--second
		.footer__menu.footer__menu--second
			.footer__item
				.footer__link Facebook
			.footer__item
				.footer__link Twitter
			.footer__item
				.footer__link Instagram
			.footer__item
				.footer__link Dribbble



