.scroll
	display: flex;
	justify-content: space-between;
	font:500 12px/84px $f-primary;
	text-transform: uppercase;
	color:#1d1d1d;
	padding:0 110px;
	padding-bottom 7px;
	&__preview
		padding-top:9px;
		letter-spacing: 1.2px;
		&:before
			content: url('../../assets/images/icons/scroll-arrow.png')
			position: relative;
			left:-10px;
	&__next
		padding-top:9px;
		letter-spacing: 1.2px;
		&:after
			content: url('../../assets/images/icons/scroll-arrow-right.png')
			position: relative;
			right:-10px;
			transform: rotate(90deg);
	&__middle
		top: 42px;
		position: relative;
		right: 17px;