.vector
	.vector__row
		.vector__inner-row.vector__inner-row--1
			.vector__img
				img(alt="" src="assets/images/vector/diamond.png")
			.vector__title ui / ux design
			.vector__text Be set fourth land god darkness make it wherein own

		.vector__inner-row.vector__inner-row--2
			.vector__img
				img(alt="" src="assets/images/vector/arc.png")
			.vector__title web development
			.vector__text A she'd them bring void moving third she'd kind fill

		.vector__inner-row.vector__inner-row--3
			.vector__img
				img(alt="" src="assets/images/vector/phone.png")
			.vector__title app / mobile
			.vector__text Dominion man second spirit he, earth they're creeping

		.vector__inner-row.vector__inner-row--4
			.vector__img
				img(alt="" src="assets/images/vector/joy.png")
			.vector__title game design
			.vector__text Morning his saying moveth it multiply appear life be


	.vector__row
		.vector__inner-row.vector__inner-row--5
			.vector__img
				img(alt="" src="assets/images/vector/plane.png")
			.vector__title SEO / marketing
			.vector__text Give won't after land fill creeping meat you, may

		.vector__inner-row.vector__inner-row--6
			.vector__img
				img(alt="" src="assets/images/vector/star.png")
			.vector__title photography
			.vector__text Creepeth one seas cattle grass give moving saw give

		.vector__inner-row.vector__inner-row--7
			.vector__img
				img(alt="" src="assets/images/vector/wand.png")
			.vector__title graphic design
			.vector__text Open, great whales air rule for, fourth life whales

		.vector__inner-row.vector__inner-row--8
			.vector__img
				img(alt="" src="assets/images/vector/bucket.png")
			.vector__title illustrations
			.vector__text Whales likeness hath, man kind for them air two won't