.vector
	background-color: #f5f5f5;
	padding: 100px 80px;
	&__row
		display: flex;
		flex-wrap: wrap;
		align-items: last baseline;
		&:last-child
			margin-top: 52px;
	&__inner-row
		flex-basis 25%;
		text-align: center;
		position: relative;
		&:last-child
			position: relative;
			left:-4px;
	&__title
		font:500 12px/30px $f-primary;
		color:#191919;
		text-transform: uppercase
		letter-spacing: 1.2px;
		margin-top: 19px;
	&__text
		font: 16px/23px $f-secondary;
		color:#787878;
		max-width: 236px;
		margin: 0 auto;
		padding-top: 2px;