.work
	text-align: center
	margin: 0 auto;
	&__row
		padding: 80px 100px 55px 100px
		flex-wrap: wrap;
		max-width:1170px;
		margin: 0 auto;
	&__title
		font:500 30px/60px $f-primary
		color:#191919;
		letter-spacing: 0.2px;
	&__text
		font:16px/24px $f-secondary;
		color:#787878;
		max-width 510px;
		margin: 15px auto 0;
		letter-spacing: 0.07px;
	&__video
		padding-bottom:100px;
