.work
	.work__row
		h2.work__title Our Work Process
		.work__text Was years it seasons was there form he in in them together over that, third sixth gathered female creeping bearing behold years.
	.work__video
		include ../../blocks/video/video
