.skills
	&__wrap
		display: flex
	&__row
		flex-basis: 50%;
		background-color: #f8f9f9
		padding-left: 97px;
		padding-bottom: 148px;
	&__title
		margin-top: 146px;
		font: 500 30px/60px $f-primary;
		color: #000000;
		letter-spacing: 0.4px
	&__inner-row
		margin-top: 12px;
	&__text
		display: flex;
		font:500 12px/30px $f-primary;
		color:#000000;
		text-transform: uppercase
		letter-spacing: 1.2px;
	&__text-percent
		margin-left: 18px;
	&__img
		background-color: #e9e9e9;
		flex-basis: 50%;
	&__progress
		margin-top: 10px;
