.skills
	.skills__wrap
		.skills__row
			h1.skills__title Professional Skills
			.skills__inner-row
				.skills__text
					p UI/UX Design
					p.skills__text-percent 75%
				.skills__progress
					img(alt="" src="assets/images/skills/75.png")
			.skills__inner-row
				.skills__text
					p web development
					p.skills__text-percent 90%
				.skills__progress
					img(alt="" src="assets/images/skills/90.png")
			.skills__inner-row
				.skills__text
					p marketing
					p.skills__text-percent 65%
				.skills__progress
					img(alt="" src="assets/images/skills/65.png")
		.skills__img
			img

